.nice {
	background-color: lightblue;
	text-align: center;
}


.brown{
	text-align: center;
}


.brown{
	text-align: center;
}


div{

	background-color: lightblue;
}
 
  div  {
    color: darkblue;
  }

  .texmex {
  	background-color: lightblue;

  	text-align: center;
}

  .sweet {
  	background-color: lightblue;
    text-align: center;

  }


  .slowbone {
  	background-color: lightblue;
  	text-align: center;
  } 


  .unos {
  	background-color: lightblue;
  	text-align: center;
  }



  .yo {
  	background-color: lightblue;
  	text-align: center;
  }